<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TuYaSmart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <TuYaSmart.Properties.Settings>
      <setting name="Port1Name" serializeAs="String">
        <value>NoPort</value>
      </setting>
      <setting name="gpioTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="wifiTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="desc" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="productionId" serializeAs="String">
        <value>NoConfiguration</value>
      </setting>
      <setting name="Command_Port" serializeAs="String">
        <value>NoConfiguration</value>
      </setting>
      <setting name="firmwareVersion" serializeAs="String">
        <value>NoConfiguration</value>
      </setting>
      <setting name="wifiHotspotName" serializeAs="String">
        <value>默认</value>
      </setting>
      <setting name="manufacturer" serializeAs="String">
        <value>无</value>
      </setting>
      <setting name="Machine_Test" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="fingerprint" serializeAs="String">
        <value />
      </setting>
      <setting name="get_key_value_fromServer" serializeAs="String">
        <value />
      </setting>
      <setting name="TotalNum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsedNum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Save_flag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="wifiPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="firmwareType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Start_flag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="bsVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="refreshUser" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="uaMD5" serializeAs="String">
        <value />
      </setting>
      <setting name="uaURL" serializeAs="String">
        <value />
      </setting>
      <setting name="key_value" serializeAs="String">
        <value />
      </setting>
      <setting name="Isconfig" serializeAs="String">
        <value />
      </setting>
      <setting name="configMD5" serializeAs="String">
        <value />
      </setting>
      <setting name="configURL" serializeAs="String">
        <value />
      </setting>
      <setting name="isOEM" serializeAs="String">
        <value />
      </setting>
      <setting name="configFileType" serializeAs="String">
        <value />
      </setting>
      <setting name="firmwareChip" serializeAs="String">
        <value />
      </setting>
      <setting name="pdtURL" serializeAs="String">
        <value />
      </setting>
      <setting name="binMD5" serializeAs="String">
        <value />
      </setting>
      <setting name="binURL" serializeAs="String">
        <value />
      </setting>
      <setting name="pdtMD5" serializeAs="String">
        <value />
      </setting>
      <setting name="test_first" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="firmwareProtocolType" serializeAs="String">
        <value />
      </setting>
      <setting name="firmwarePath" serializeAs="String">
        <value />
      </setting>
      <setting name="GPIO_Test_Enable" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RF_Test_Enable" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Rssi_Required" serializeAs="String">
        <value>-60</value>
      </setting>
      <setting name="RF_SSID" serializeAs="String">
        <value>tuya_mdev_test</value>
      </setting>
      <setting name="configPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LocalLogPath" serializeAs="String">
        <value>log\\mylog.txt</value>
      </setting>
      <setting name="account_flag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="account_username" serializeAs="String">
        <value />
      </setting>
      <setting name="account_permission" serializeAs="String">
        <value />
      </setting>
      <setting name="update_clicked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="token_startTime" serializeAs="String">
        <value />
      </setting>
      <setting name="sfttype" serializeAs="String">
        <value />
      </setting>
      <setting name="account_company" serializeAs="String">
        <value />
      </setting>
      <setting name="addUser_name" serializeAs="String">
        <value />
      </setting>
      <setting name="addUser_passwd" serializeAs="String">
        <value />
      </setting>
      <setting name="addUser_company" serializeAs="String">
        <value />
      </setting>
      <setting name="addUser_permission" serializeAs="String">
        <value />
      </setting>
      <setting name="addUser_flag" serializeAs="String">
        <value />
      </setting>
      <setting name="userDataPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value />
      </setting>
      <setting name="binPath" serializeAs="String">
        <value />
      </setting>
      <setting name="productId" serializeAs="String">
        <value />
      </setting>
      <setting name="ScanSN_Enable" serializeAs="String">
        <value>False</value>
      </setting>
    </TuYaSmart.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>